{% extends 'base.html' %}
{% load static %} 
{% block about%}active{% endblock about%}

{% block content %}
 <!-- About Section-->
        <section class="page-section bg-primary text-white mb-0" id="about" style="margin-top: 100px;">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-4 ml-auto"><p class="lead">Music Soul is a whole sole platform for young ones to develop their performing arts skills by the passionate experienced holders. Our teams doesn't work for material thing but gives their whole heart teaching to their Pupil.</p></div>
                    <div class="col-lg-4 mr-auto"><p class="lead">Enroll fast to the leading Performing Arts class of your choice and get interacted with the best mentors and fresh talents like you.</p></div>
                </div>
            </div>
        </section>
  {% endblock content %}
